* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}
/*? Todo de Navbar */

nav {
  width: 100%;
  padding: 2rem 5%;
  border-bottom: 1px;
  margin-bottom: 2rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  background-color: white;
  color: black;
  position: relative;
  font-size: 1.05rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3;
  font-family: cursive;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.nav-links li a:hover {
  background-color: cyan;
  color: white;
}

nav h2 {
  font-family: cursive;
  color: white;
}

/*! Parte del footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;

  padding: 10px 5rem;
}

footer h2 {
  font-size: 30px;
  font-family: cursive;

  margin-left: 100px;
}

.nombres {
  font-family: cursive;
}
.list-nombres {
  font-size: 20px;
}
.nombres h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

/* ! Parte del nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5%;
  background-color: black;
}

.nosotros-contenidoh2 {
  font-size: px;
  font-family: cursive;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.textoNosotros {
  font-family: cursive;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.6;
  max-width: 800px;
  text-align: center;
}
.imagenNosotros {
  display: grid;
  place-items: center;
  width: 500px;
  border-radius: 20px;
  margin-top: 20px;
}

.contenedorContacto {
  font-family: cursive;
  position: center;
  top: 50px;
  left: 50px;
  width: 380px;
  height: 220px;
  background-color: cadetblue;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/*Index*/

p {
  font-style: oblique;
  color: white;
}

.logo {
  float: right;
  width: 150px;
  height: auto;
}
.titulo {
  color: #d60000;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 18px;
  letter-spacing: 0.5px;
}

h2 {
  color: #d60000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  letter-spacing: 0.3px;
}

.horizontal {
  width: 800px;
  height: auto;
  background-color: #d60000;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.caratula {
  width: auto;
  height: 800px;
  border: 4px solid #d60000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.contenedor {
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  padding: 25px;
  font-size: 18px;
}

.contenedor1 {
  text-align: center;
  width: auto;
  height: auto;
  padding: 25px;
  font-size: 18px;
}

.contenedor2 {
  text-align: center;
  width: auto;
  height: auto;
  padding: 25px;
  font-size: 18px;
}

.contenedor3 {
  text-align: center;
  width: auto;
  height: auto;
  padding: 25px;
  font-size: 18px;
}

.contenedor4 {
  text-align: center;
  width: auto;
  height: auto;
  padding: 25px;
  font-size: 18px;
}
