* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}
/*? Todo de Navbar */

nav {
  width: 100%;
  padding: 2rem 5%;
  border-bottom: 1px;
  margin-bottom: 2rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  background-color: white;
  color: black;
  position: relative;
  font-size: 1.05rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3;
  font-family: cursive;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.nav-links li a:hover {
  background-color: cyan;
  color: white;
}

nav h2 {
  font-family: cursive;
  color: white;
}

/*! Parte del footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;

  padding: 10px 5rem;
}

footer h2 {
  font-size: 30px;
  font-family: cursive;

  margin-left: 100px;
}

.nombres {
  font-family: cursive;
}
.list-nombres {
  font-size: 20px;
}
.nombres h2 {
  font-size: 30px;
  padding-bottom: 10px;
}
